<h1> <%= @stock.title %> </h1>

<div>
  <table>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Type</th>
      <th>Quantity</th>
      <th>Trade Price</th>
      <th>Retail Price</th>
      <th>Profit Margin</th>
      <th>Stock Level</th>
    </tr>
    <tr>
      <td> <%= @stock.album.title %> </td>
      <td> <%= @stock.artist.name %> </td>
      <td> <img src=" <%= @song.album.cover_image %> "></td>
      <td> <%= @stock.genre %> </td>
    </tr>
  </table>

</div>
