<div>
  <table>
    <tr>
      <th>ID</th>
      <th>Album</th>
      <th>Title</th>
      <th>Length</th>
      <th>Genre</th>
    </tr>
    <tr>
      <% @songs.each do |song| %>
      <td> <%= song.id %> </td>
      <td> <%= song.album.title %> </td>
      <td> <%= song.title %> </td>
      <td> <%= song.length %> </td>
      <td> <%= song.genre %> </td>
    </tr>
      <% end  %>
  </table>

</div>
