<h1><%= @artist.name %></h1>

<div>
  <table>
    <tr>
      <th>Image</th>
      <th>Albums</th>
      <th>Songs</th>
      <th>Profile</th>
    </tr>
    <tr>
      <td> <img src="<%= @artist.image %>"> </td>
      <td> <%= @artist.albums %> </td>
      <td> <%= @artist.songs %> </td>
      <td> <%= @artist.bio %> </td>
    </tr>
  </table>

</div>
